<div>
  <label>Payee Name</label>
  <input (input)="onNameChange($any($event.target).value)" />
</div>

{{ name | titlecase }}

<div>
  <label>Payment Date</label>
  <input type="date" (input)="onDateChange($any($event.target).value)" />
</div>

{{ date | date: 'fullDate' }}

<div>
  <label>Amount</label>
  <input type="number" (input)="onAmountChange($any($event.target).value)" />
</div>

{{ amount | currency }}

<div>
  <label>Height</label>
  <input type="number" (input)="onHeightChange($any($event.target).value)" />
</div>

{{ height | number: '1.0-5' }}